In [1]:
import pandas as pd

# Data to create DataFrame
data = {
    'Name': ['John', 'Alice', 'Bob', 'Diana'],
    'Age': [28, 34, 23, 29],
    'Department': ['HR', 'IT', 'Marketing', 'Finance'],
    'Salary': [45000, 60000, 35000, 50000]
}

# Create the DataFrame
df = pd.DataFrame(data)

# Display the DataFrame
print(df)

    Name  Age Department  Salary
0   John   28         HR   45000
1  Alice   34         IT   60000
2    Bob   23  Marketing   35000
3  Diana   29    Finance   50000

In [2]:
import pandas as pd

# Sample DataFrame (you can replace this with your actual DataFrame)
data = {
    'EmployeeID': [101, 102, 103, 104, 105],
    'Name': ['John', 'Alice', 'Bob', 'Eve', 'Charlie'],
    'Age': [28, 24, 35, 29, 22],
    'Salary': [50000, 60000, 55000, 70000, 48000]
}

df = pd.DataFrame(data)

# 1. Display the first 2 rows of the DataFrame
print("First 2 rows:")
print(df.head(2))

# 2. Add a new column named 'Bonus' where the bonus is 10% of the salary
df['Bonus'] = df['Salary'] * 0.10

# 3. Calculate the average salary of employees
average_salary = df['Salary'].mean()
print("\nAverage Salary:", average_salary)

# 4. Filter and display employees who are older than 25
filtered_df = df[df['Age'] > 25]
print("\nEmployees older than 25:")
print(filtered_df)

First 2 rows:
   EmployeeID   Name  Age  Salary
0         101   John   28   50000
1         102  Alice   24   60000

Average Salary: 56600.0

Employees older than 25:
   EmployeeID  Name  Age  Salary   Bonus
0         101  John   28   50000  5000.0
2         103   Bob   35   55000  5500.0
3         104   Eve   29   70000  7000.0